extends layout

block content
	div(class="container" id="main-content")
		div(class="row")
			h1(class="center")= title
			each post in post_list
				div(class="col s12")
					div(class="card round-corner")
						div(class="card-content show-white-space" id="textwrap")
							#post
							span(class="card-title") #{post.author}>
							p #{post.content}
			else
				li No thoughts to share.
	div(class="fixed-action-btn")
		a(class="btn-floating btn-large red modal-trigger" href="#modal1")
			i(class="large material-icons") mode_edit
		div(id="modal1" class="modal round-corner")
			div(class="modal-content")
				h4 Share your thoughts #{user.username} 
				#user
				div(class="row center")
					div(class="col s12")
						div(class="card round-corner" id="post-card-content")
							div(class="card-content show-white-space" id="textwrap")
								form(method='POST' action='/posts/create')
									div(class="form-group")
										div(class="input-field")
											textarea(class="materialize-textarea force-height" id="postcontent" placeholder='...' name='content' data-length="300")
									button(type='submit' class="btn") post
										i(class="material-icons right") send